<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Game ID</th>
      <th>Turn</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id%></td>
        <td><%= game.turn %></td>
        <% if game.status == 'in_progress' %>
          <td><%= link_to 'Continue Playing', game %></td>
        <% else %>
          <td><%= game.status %></td>
        <% end %>

        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
