<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @game.status %>
</p>

<% if @game.status == 'in_progress' %>

  <%= form_with(url: games_save_path, html: {id: 'tictacform'}) do %>
    <input type="hidden" name='id' value='<%=@game.id%>'>
    <% if @game.turn == 'X' %>
      It's Player X's Turn<br>
    <% else %>
      It's Player O's Turn<br>
    <% end %>

    <%
      for i in 0..8 do
        if i % 3 == 0%>
          <br>
        <%end

        val = ''
        @game.turns.each do |turn|
          if turn.tile == i
            val = turn.player
            break
          end
        end%>
        <input type="button" class="tictac" onclick="buttonClick('<%=i%>', '<%=@game.turn%>')" id='b<%=i%>' name='b<%=i%>' value='<%=val%>' <%=val.empty? ? '' : 'disabled'%>>
        <input type="hidden" id='h<%=i%>' name='h<%=i%>' value='<%=val%>' <%=val.empty? ? '' : 'disabled'%>>
      <%end
    %><br><br>

    <input type="submit" name='b1'>
  <% end
end%>

<%= link_to 'Home', games_path %>
<script>
  function buttonClick(id, val) {
    document.getElementById('b' + id).value = val;
    document.getElementById('h' + id).value = val;
    document.getElementById("tictacform").submit();
  }
</script>
